In [1]:
import pandas as pd
import numpy as np
import os
import shutil
import sys
import hashlib
from PIL import Image

CURRENT_PATH = os.getcwd()

**Файл CIB стройки**

In [46]:
df1 = pd.read_excel('data/CIB стройки.xlsx', sheet_name = 'Лист1', skiprows = 4, dtypes = str)
df1 = df1.drop_duplicates()
df1.rename(columns = {'Unnamed: 0':'coordinates', 'Unnamed: 27':'coordinates_add'}, inplace = True)
df1['coordinates'].fillna(df1['coordinates_add'], inplace = True)
df1['coordinates'] = df1['coordinates'].astype(str)

df1['latitude'] = df1['coordinates'].apply(lambda x: x.split(',')[0] if x != 'nan' else np.nan )
df1['longitude'] = df1['coordinates'].apply(lambda x: x.split(',')[1] if x != 'nan' else np.nan)

df1 = df1.loc[(~df1['latitude'].isnull()) & (~df1['longitude'].isnull())]

df1 = df1.groupby(['latitude', 'longitude'])['Наименование проекта'].max().reset_index()

df1['coordinates'] = df1['latitude'] + ',' + df1['longitude']
df1.drop(['latitude', 'longitude'], axis = 1, inplace = True)
df1.rename(columns = {'Наименование проекта':'name'}, inplace = True)
df1.head()

                                                name           coordinates
0  6-ти секционный 17-ти этажный жилой дом (включ...  54.883001, 38.056651
1                                            ЖК Time  54.886880, 38.078390
2  финансирование строительства "Жилые дома в Окт...  55.354277, 37.539131
3  финансирования / возмещения ранее понесенных и...  55.403809, 37.536859
4  строительства объектов жилой недвижимости «ЖК ...  55.422360, 37.760512

**Файл Геокодирование стройки Москва и МО.xlsx**

In [45]:
df2 = pd.read_excel('data/Геокодирование стройки Москва и МО.xlsx', sheet_name = 'Лист1', dtypes = str)
df2.rename(columns = {'Широта':'latitude', 'Долгота':'longitude'}, inplace = True)
df2 = df2.loc[(~df2['latitude'].isnull()) & (~df2['longitude'].isnull())]
df2 = df2.groupby(['latitude', 'longitude'])['Наименование проекта'].max().reset_index()

df2['coordinates'] = df2['latitude'].astype(str) + ',' + df2['longitude'].astype(str)
df2.drop(['latitude', 'longitude'], axis = 1, inplace = True)

df2.rename(columns = {'Наименование проекта':'name'}, inplace = True)
df2.head()

,name,coordinates
0,6-ти секционный 17-ти этажный жилой дом (включ...,"54.883001,38.056651"
1,I этап II очереди - 6-ти секционный 17-ти этаж...,"54.886880000000005,38.07839"
2,ЖК Эстет,"55.354277,37.539131"
3,финансирование стр-ва ж/д,"55.403808999999995,37.536859"
4,"ЖК ""Лунный""","55.42236,37.760512"

**Файл data/жк.xlsx**

In [43]:
df3 = pd.read_excel('data/жк.xlsx', sheet_name = 'Лист1', dtype = str)
df3 = df3.drop_duplicates()
df3 = df3.loc[(~df3['latitude'].isnull()) & (~df3['longitude'].isnull())]
df3 = df3.groupby(['latitude', 'longitude'])['name'].max().reset_index()
df3['coordinates'] = df3['latitude'].astype(str) + ',' + df3['longitude'].astype(str)
df3.drop(['latitude', 'longitude'], axis = 1, inplace = True)
df3.head()

                                                name         coordinates
0                            ЖК "Гагаринские Высоты"                 0,0
1                              ЖД по ул.Автодорожная   129.68619,62.0058
2  Многоквартирный жилой дом с соцкульбытом по ул...  129.71612,62.03354
3                             Жилой Комплекс "Южный"  142.74195,46.96819
4                                        ЖК "Солнце"   29.09225,59.90423

**Объединим данные**

In [143]:
#df_all = pd.concat([df1, df2, df3])
df_all = df1.copy()
df_all = df_all.groupby('coordinates')['name'].max().reset_index()
df_all = df_all.loc[~df_all['coordinates'].isin(['0,0'])]
df_all.head()

            coordinates                                               name
0  54.883001, 38.056651  6-ти секционный 17-ти этажный жилой дом (включ...
1  54.886880, 38.078390                                            ЖК Time
2  55.354277, 37.539131  финансирование строительства "Жилые дома в Окт...
3  55.403809, 37.536859  финансирования / возмещения ранее понесенных и...
4  55.422360, 37.760512  строительства объектов жилой недвижимости «ЖК ...

In [144]:
def check_coordinates(coord):
    lat, lon = coord.split(',')[0], coord.split(',')[1]
    try:
        lat, lon = float(lat), float(lon)
        if np.isnan(lat) or np.isnan(lon):
            return False
        if lat > 90:return False
        if lon > 180:return False
        return True
    except:
        return False
df_all['is_correct'] = df_all['coordinates'].apply(lambda x: check_coordinates(x))

In [145]:
df_all.head()

,coordinates,name,is_correct
0,"54.883001, 38.056651",6-ти секционный 17-ти этажный жилой дом (включ...,True
1,"54.886880, 38.078390",ЖК Time,True
2,"55.354277, 37.539131","финансирование строительства ""Жилые дома в Окт...",True
3,"55.403809, 37.536859",финансирования / возмещения ранее понесенных и...,True
4,"55.422360, 37.760512",строительства объектов жилой недвижимости «ЖК ...,True

In [146]:
df_all.loc[df_all['is_correct'] == True]

,coordinates,name,is_correct
0,"54.883001, 38.056651",6-ти секционный 17-ти этажный жилой дом (включ...,True
1,"54.886880, 38.078390",ЖК Time,True
2,"55.354277, 37.539131","финансирование строительства ""Жилые дома в Окт...",True
3,"55.403809, 37.536859",финансирования / возмещения ранее понесенных и...,True
4,"55.422360, 37.760512",строительства объектов жилой недвижимости «ЖК ...,True
5,"55.471071, 37.545797",финансирование стр-ва ж/д,True
6,"55.539400, 37.148104",состав жилого комплекса из трех 16-этажных дом...,True
7,"55.542003, 37.085383",финансирование и возмещения ранее понесенных з...,True
8,"55.546325, 37.304680",группа многоэтажных жилых домов со встроенными...,True
9,"55.569204, 38.211835","Финансирование, в т.ч. возмещение ранее понесе...",True
10,"55.581587, 37.478675",Янтарный,True
11,"55.639441, 37.213896",Финансирования проекта «1 очередь строительств...,True
12,"55.645334, 37.860091",здание №17 со встроенно-пристроенными нежилыми...,True
13,"55.664497, 37.451645","МФК ""Citimix""",True
14,"55.664619, 37.871185",финансирование/возмещение ранее понесенных инв...,True
15,"55.668909, 37.583418",Финансирование затарат по строительству многок...,True
16,"55.676494, 37.898116",ЖК Мещера,True
17,"55.678636, 37.251266",финансирования затрат по строительству двух 16...,True
18,"55.682356, 37.551016",Финансирование строительства 4-х секционного ж...,True
19,"55.685046, 37.583338","строительство ЖК ""Возрождение"" в г. Ханты-Манс...",True
20,"55.685066, 37.696040",строительство 4-х секционного 17-ти этажного м...,True
21,"55.697305, 37.476393",Финансирование/рефинансирование затрат по стро...,True
22,"55.702952, 37.891550",финансирование строительства жилого дома в г. ...,True
23,"55.703968, 37.547268","Финансирование строительства жилого дома, расп...",True
24,"55.705148, 37.548968",Строительство многоэтажного жилого дома №2 ул....,True
25,"55.712452, 37.593767","Жилой дом общей площадью 7 581 кв.м.,подземная...",True
26,"55.715256, 37.439320",Строительство 15-ти этажного жилого дома на 14...,True
27,"55.717721, 37.069115",Многоэтажная жилая застройка с подземной автос...,True
28,"55.718228, 37.425611",Финанасировани стрительства поз.1 МКР Универси...,True
29,"55.718922, 37.727014","Проект ""Спорт-таун""",True
...,...,...,...
54,"55.803206, 38.460174","ЖК ""Высоково""",True
55,"55.809682, 37.368227",Строительство многоквартирого жилого дома со в...,True
56,"55.816687, 37.370760",здание №1 со встроенными нежилыми помещениями ...,True
57,"55.817405, 37.573034",Финансирования проекта строительства жилого пя...,True
58,"55.819616, 37.094798","ЖК ""Сказка""",True
59,"55.822237, 37.259043",Финансирование затрат на строительство 19-этаж...,True
60,"55.831671, 37.314202",Строительство 3-й очереди ЖК Море солнца (б/с ...,True
61,"55.834694, 37.279617",финансирования затрат по договорам долевого уч...,True
62,"55.837727, 37.489131",Финансирование строительства многоквартирного ...,True
63,"55.838627, 37.494719","Финансирование затрат в рамках проекта: ""Строи...",True
64,"55.848584, 37.636931",Финансирование затрат по строительству жилого ...,True
65,"55.854062, 37.497198",Строительство многоквартирного жилого дома со ...,True
66,"55.864869, 37.310636",Строительство многоэтажного жилого дома по ул....,True
67,"55.866401, 38.206209",Многоквартирный многоэтажный жилой дом №8 с не...,True
68,"55.892178, 37.350279",КОМФОРТ ПАРК,True
69,"55.895636, 37.462469",ЖК Маяк,True
70,"55.902389, 37.868678",Финансирование строительства многоквартирного ...,True
71,"55.905240, 37.868930",Финансирование затрат по строительству жилого ...,True
72,"55.933023, 37.864138",Ривер Парк,True
73,"55.953493, 37.304680",Строительство 5 очереди жилого дома №3 в 112 ...,True
74,"55.954097, 37.520033",финансирование строительства по договорам доле...,True
75,"55.954949, 37.521471",ЖК РАДУГА,True
76,"55.967693, 37.677014",Строительство блок-секции №2 группы многокварт...,True
77,"55.970781, 37.738530",Строительство комплекса из трех 24-х этажных ж...,True
78,"55.971280, 37.931399",Финансирование строительства Квартала 1 района...,True
79,"55.985015, 37.104482",Строительство 5 малоэтажных жилых домов по адр...,True
80,"56.023978, 37.469377","г. Красноярск, Советский район, жилой район «С...",True
81,"56.026136, 37.857360",Затверецкий квартал,True
82,"56.256153, 37.974913",финансирование строительства жилого дома № 19 ...,True
83,"56.344157, 37.520015","Многоэтажный 5-ти секционный жилой дома, П-...",True

In [147]:
df_all.loc[df_all['is_correct'] == True][['coordinates', 'name']].to_csv('data/all_coordinates.csv', index = False)

In [148]:
df_all.loc[df_all['is_correct'] == True].shape

(84, 3)